.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.iml
*.bin
*.dex
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
keystore
app/google-services.json
*.hprof
AndroidManifest.xml
.kotlin
